.header-lef-container {
  width: 30%;
}

.header-right-container {
  width: 70%;
}

.header-links-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-link i {
  margin-right: 4px;
}

.path-container {
  padding: 30px 50px;
  font-weight: bold;
}

.home-products-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 32px 60px;
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
  box-sizing: border-box;
  justify-content: center;
}
