body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}

a {
  color: #ffffff !important;
  text-decoration: none !important;
  text-align: center !important;
}

h2 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
